<!-- Start footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 col-sm-6">
                <div class="block-body">
                    <ul class="social trp">
                        <li>
                            <a href="https://www.facebook.com/stark.jv" class="facebook">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/starkjv28" class="twitter">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-twitter-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/stark.jv/" class="instagram">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-instagram-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/chien-nguyen-054870160/" class="linkedin">
                                <svg>
                                    <rect width="0" height="0"/>
                                </svg>
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="logo-footer-cgv">&nbsp;</div>
                <div class="text-cgv-address">
                    <h3>MEGALODON CINEMA</h3>
                    <p>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008, đăng ký thay đổi lần thứ 5 ngày
                        14/10/2015, cấp bởi Sở KHĐT thành phố Hồ Chí Minh.</p>
                    <p>Địa Chỉ:&nbsp;Tầng 2, Rivera Park Saigon - Số 7/28 Thành Thái, P.14, Q.10, TPHCM.</p>
                    <p>Hotline: 1900 6017</p>
                    <p>COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED .</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="fullfooter">

</div>
<!-- End Footer -->

<!-- JS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.migrate.js"></script>
<script src="/static/scripts/bootstrap/bootstrap.min.js"></script>
<script>var $target_end = $(".best-of-the-week");</script>
<script src="/static/scripts/jquery-number/jquery.number.min.js"></script>
<script src="/static/scripts/owlcarousel/dist/owl.carousel.min.js"></script>
<script src="/static/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="/static/scripts/easescroll/jquery.easeScroll.js"></script>
<script src="/static/scripts/sweetalert/dist/sweetalert.min.js"></script>
<script src="/static/scripts/toast/jquery.toast.min.js"></script>
<script src="/static/js/demo.js"></script>
<script src="/static/js/e-magz.js"></script>
</body>

</html>