<%- include('../admin/layout/header.ejs'); -%>
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Thêm Cụm Rạp</h1>
    <div class="row justify-content-center">

        <div class="col-xl-8 col-lg-12 col-md-9">
            <form class="user" action="/insert/insertcumrap" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="TenCum"
                           aria-describedby="emailHelp" placeholder="Tên Cụm Rạp...">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="DiaChi"
                           placeholder="Địa Chỉ...">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="Maps"
                           placeholder="Maps...">
                </div>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>

    <!-- Page Heading -->


    <!-- DataTales Example -->


</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<%- include('../admin/layout/footer.ejs'); -%>