<%- include('../header'); -%>
<section class="login first grey">
    <div class="container">
        <h1 style="color:red">Quý Khách vui lòng vô mail kích vào verify để đăng nhập. Xin cảm ơn</h1>
    </div>
</section>
<%- include('../footer'); -%>
