<%- include('../header'); -%>
<section class="login first grey">
    <div class="container">
        <h1 style="color:red">Quý Khách Vui Lòng vào mail để đặt lại mật khẩu mới</h1>
    </div>
</section>
<%- include('../footer'); -%>