<%- include('../header'); -%>
<section class="login first grey">
    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    <h4>Đăng kí</h4>
                    <form method="post" action="/auth/signup">
                        <div class="form-group">
                            <% if (errro && errro.length > 0) { %>
                                <p style="color:red"> <%= errro %></p> <br>
                            <% } %>
                            <label>Tên</label>
                            <input type="text" name="Name" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" name="Phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="fw">Mật khẩu</label>
                            <input type="password" name="Password" class="form-control">
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary btn-block">Đăng kí</button>
                        </div>
                        <div class="form-group text-center">
                            <span class="text-muted">Đã có tài khoản ?</span> <a href="/auth/login">Đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../footer'); -%>